[Unit]
Description=restart
DefaultDependencies=no
RemainAfterExit=true

[Service]
ExecStart=/sbin/reboot
Type=oneshot

[Install]
WantedBy=multi-user.target
Alias=shutdownWS_reboot.service